.header{
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0.6rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  > img{
    max-height: 25px;
    max-width: 25px;
    border-radius: 50%;
  }
}

.title{
  color: gray;
  margin-right: 0.4rem;
}

.button{
  border-radius: 15px;
  margin-left: 4rem;
  margin-right: 1rem;
}

.icons{
  display: flex;
  gap: 1rem;
}


