.line {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
  align-items: center;
  cursor: pointer;

  > h4 {
    color: gray;
  }

  > svg {
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
    &.active {
      transition: all 0.3s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}