.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  gap: 1rem;
  color: gray;
  cursor: pointer;
  &.active{
    color: #f3fc89;
    transition: color 0.5s ease-in-out;
    &:after{
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &:after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #f3fc89;
    opacity: 0;
  }

  &:hover{
    color: #f3fc89;
    transition: color 0.5s ease-in-out;
    &:after{
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
}